@charset "UTF-8";
#wrap:after {content:"";display:block;clear:both;height:0;visibility:hidden}
#wrap .content:after{content:"";display:block;clear:both;height:0;visibility:hidden}
#wrap {position:relative}
.content {min-width:320px;width:100%;margin:0 auto;position:relative}
input[type=checkbox]{appearance:none;-webkit-appearance:none}
/* input-area */
.input_area {z-index:999;background:#fff;position:fixed;top:0;left:0;padding:0 80px 0px 10px;width:100%;height:40px;box-sizing:border-box;z-index:100;-moz-box-shadow:0px 2px 5px #ccc;-webkit-box-shadow:0px 2px 5px #ccc;box-shadow:0px 2px 5px #ccc}
.input_area:after {content:"";display:block;clear:both;height:0;visibility:hidden}
.input_select{width:60px;position:absolute;top:8px;left:5px;z-index:999}
.input_select .opt_importance{box-sizing:border-box;width:60px}
.input_select .lnb_import{font-size:0;width:0;height:0}
.input_area .input_text {display:block;float:left;position:relative;width:100%;height:30px;border-radius:5px;background-color:#fff;box-sizing:border-box;padding-right:5px;padding-left:55px;margin-top:5px}
.input_area .input_text .inp_text {padding:2px 0 2px 5px;margin:0;width:100%;height:30px;line-height:30px;font-size:16px;border:0 none;outline:0 none;display:inline-block}
.input_area .btn_search {display:block;float:left;width:80px;height:40px;position:absolute;top:0px;right:0px}
.input_area .btn_search .btn_submit{line-height:40px;display:block;background:#f27935;width:80px;height:40px;color:#fff;text-align:center}
/* list-area */
.list_area {position:relative;margin-top:40px}
.box_importance{background-color:#f0f0f0;padding:10px 10px}
.box_importance .inner_importance{margin-bottom:5px;overflow:hidden}
.box_importance .item_import{float:left;margin-right:5px;position:relative} 
.box_importance input[type=checkbox] {position:absolute;top:0;left:0;opacity:0.1}
.box_importance input[type=checkbox] + .lnb_import{border:1px solid #ccc;padding:1px 6px}
.box_importance input[type=checkbox] + .lnb_import:before {border:1px solid #ccc;padding:1px 6px}
.box_importance input[type=checkbox]:checked + .lnb_import {background-color:#f27935;color:#fff;padding:1px 6px}
.todo_check {cursor:pointer;display:block;color:#585c67;position:relative}
.todo_check ul li{overflow:hidden;position:relative;border-bottom:1px solid #e9eaec;padding:10px 20px;letter-spacing:-0.05em}
.todo_check input[type=checkbox] {content:"";display:inline-block;width:28px;height:28px;position:absolute;left:20px;top:25px;vertical-align:middle;background:url(../img/ico_chk.png) no-repeat 0 0;appearance:none;-webkit-appearance:none}
.todo_check input[type=checkbox]:checked{background-position:100% 0}
.todo_check input[type=checkbox]:checked + .lnb_todo > .txt_todo{color:#807a7a;text-decoration:line-through}
.list_area .item_todo .txt_todo {font-size:16px;color:#161616;display:block}
.list_area .item_todo .lnb_todo{float:left;width:100%;box-sizing:border-box;padding-left:50px}
.todo_check .lnb_todo .txt_import,
.todo_check .lnb_todo .txt_day{display:block}
.box_drag{width:40px;height:100%;background-color:#d2d2d2;position:absolute;top:0;right:0}
.box_drag .btn_drag{display:block;font-size:0;height:100%}